/* Add CSS styles below. */
.example-class {
  /* You can even apply Tailwind classes here. */
  @apply bg-red-500 text-white;
}

[x-cloak] {
  display: none;
}

/* Override some of the Tailwind .prose CSS */
.prose h1,
.prose h2,
.prose h3,
.prose h4,
.prose h5,
.prose h6 {
  @apply m-0 mb-2;
  text-wrap: balance;
}

.balanced {
  max-inline-size: 50ch;
  text-wrap: balance;
}

/* Daisy UI Overrides */
.breadcrumbs > ul > li,
.breadcrumbs > ol > li {
  @apply p-0;
}

.text-muted {
  @apply text-gray-500;
}

.container {
  max-width: 768px;
}

/* Trix Editor */
trix-toolbar .trix-button {
  border: none;
}

trix-toolbar .trix-button-group,
trix-editor,
input[type="text"],
input[type="number"],
input[type="tel"] {
  @apply border-2 border-slate-200 rounded-lg;
}

trix-toolbar .trix-button.trix-active {
  @apply bg-cyan-100;
}

trix-toolbar [data-trix-button-group="file-tools"],
trix-toolbar [data-trix-attribute="heading1"] {
  @apply !hidden;
}

trix-toolbar [data-trix-attribute="quote"] {
  @apply !border-l-0;
}

[data-floating-ui-portal] h1 {
  @apply text-base m-0;
}

[data-floating-ui-portal] p {
  @apply mt-1;
}

[data-floating-ui-portal] button.cl-formButtonPrimary {
  @apply rounded-full;
}

.btn-primary {
  @apply text-white;
}
