:root {
  /* WiseOS Colors — Akin to Samsung One UI */
  --surface-primary: #f6f6f8;
  --surface-secondary: #fcfcfe;
  --surface-tertiary: #e9e9eb;
  --text-primary: #010101;
  --text-secondary: #88878c;
  --toggle-default: #9a999d;
  --toggle-checked: #4978f7;
}

* {
  @apply shrink-0 select-none;
}

[x-cloak] {
  display: none;
}

/* Override some of the Tailwind .prose CSS */
.prose h1,
.prose h2,
.prose h3,
.prose h4,
.prose h5,
.prose h6 {
  @apply m-0 mb-2 text-slate-800;
  text-wrap: balance;
}

.balanced {
  max-inline-size: 50ch;
  text-wrap: balance;
}

/* Daisy UI Overrides */
.breadcrumbs > ul > li,
.breadcrumbs > ol > li {
  @apply p-0;
}

.text-muted {
  @apply text-gray-500;
}

.container {
  max-width: 768px;
}

/* Trix Editor */
trix-toolbar .trix-button {
  border: none;
}

trix-toolbar .trix-button-group,
trix-editor,
input[type="text"],
input[type="number"],
input[type="tel"] {
  @apply border-2 border-[var(--surface-tertiary)] rounded-lg;
}

trix-toolbar .trix-button.trix-active {
  @apply bg-cyan-100;
}

trix-toolbar [data-trix-button-group="file-tools"],
trix-toolbar [data-trix-attribute="heading1"] {
  @apply !hidden;
}

trix-toolbar [data-trix-attribute="quote"] {
  @apply !border-l-0;
}

[data-floating-ui-portal] h1 {
  @apply text-base m-0;
}

[data-floating-ui-portal] p {
  @apply mt-1;
}

[data-floating-ui-portal] button.cl-formButtonPrimary {
  @apply rounded-full;
}

.btn-primary {
  @apply text-white;
}

ul.list-item-container {
  @apply rounded-3xl bg-[var(--surface-secondary)] border border-[var(--surface-secondary)];
}

li.list-item {
  @apply bg-[var(--surface-secondary)] transition-transform py-4 px-6 text-base border-b border-[var(--surface-tertiary)];
}

li.list-item:first-child {
  @apply rounded-t-2xl;
}

li.list-item:active {
  @apply scale-[98%] bg-[var(--surface-tertiary)];
}

li.list-item:last-child {
  @apply border-b-0 rounded-b-2xl;
}

.toggle {
  --tglbg: var(--toggle-default);
  @apply text-white border-[var(--tglbg)];
}

.toggle:checked {
  --tglbg: var(--toggle-checked);
  @apply text-white border-[var(--tglbg)];
}

.btn-circle {
  @apply border-2 rounded-full text-[var(--text-secondary)] bg-[var(--surface-secondary)] border-[var(--surface-tertiary)] hover:border-[var(--surface-tertiary)] hover:bg-[var(--surface-secondary)] active:bg-[var(--surface-secondary)] disabled:bg-[var(--surface-primary)];
}

.btn-ghost:hover {
  @apply bg-slate-100;
}
